@theme {
  --color-primary: var(--color-primary);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --background-color-button-primary-default: var(--background-color-button-primary-default);
}