@import 'tailwindcss';
@import './tokens/design-tokens.css';

@theme {
    /* Custom CSS vars for this project */
}

body {
    color: var(--color-neutral-600);
}

code {
    background: var(--color-neutral-100);
    padding: var(--spacing);
    display: inline-flex;
    border-radius: 4px;
}
